/* Styles de Base */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    line-height: 1.6;
}

header {
    background: #ebd004;
    box-shadow: 0 10px 10px rgba(180, 2, 2, 0.1);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('farm-bg.jpg');
    background-image: url(img/poussain\ 1.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background: #FFD700;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

.btn:hover {
    background: #e6c200;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .hero-content h2 {
        font-size: 2rem;
    }
}